body {
    font-family: 'Proxima Nova', sans-serif;
    background: #f0f0f0;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: rgb(70, 70, 70);
    font-size: 64px;
    font-weight: bold;

}

a {
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
}